.CheckboxPaper {
  background-color: beige;
  padding: 30px 20px 30px 20px;
  margin: auto;
  margin-top: 200px;
  width: 200px;
  .title {
    text-align: center;
    margin: -10px 0 10px 0;
  }
  .item {
    margin-bottom: 5px;
  }
}
