* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-decoration: none;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s-banner {
  width: 15rem;
  height: 15rem;
  margin: 0 auto 0;
  border-radius: 7px;
  background-color: #d1d1d1;
}
.s-header {
  width: 15rem;
  border-radius: 7px;
  height: 1.3rem;
  margin: 5% auto 2%;
  background-color: #d1d1d1;
}
.s-content {
  border-radius: 7px;
  width: 15rem;
  height: 0.8rem;
  margin: 0% auto 2%;
  background-color: #d1d1d1;
}
.s-content:last-child {
  width: 40%;
  margin: 0;
}
.line {
  width : 20%;
  height: 100%;
  background-color: rgba(255,255,255,0.2);
  box-shadow: 0 0 30px 30px rgba(255,255,255,0.05);
  animation: loading 1.5s ease-in-out infinite;
}
.line.last{
    width: 50%;
}
@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translate(500%);
  }
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}