body {
    background: #fcfcfc;
}

.option-column {
    width: 100%;
    height: 600vh;
}

.option-column .dropdown-btn {
    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.option-column .dropdown-item .option-list .option {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.option-column .dropdown-item .option-list .option:hover {
    background: #f4f4f4;
}