.toggle-button {
  display: inline-block;
}

.toggle-button-label {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggle-button-label input[type='checkbox'] {
  display: none;
}

.toggle-button-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 12px;
  transition: 0.4s;
}

.toggle-button-slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.toggle-button-label input[type='checkbox']:checked + .toggle-button-slider {
  background-color: #2196f3;
}

.toggle-button-label input[type='checkbox']:checked + .toggle-button-slider:before {
  transform: translateX(26px);
}

.toggle-button-text {
  width: 100px;
  margin-left: 20px;
  font-size: 14px;
}
