.toggle input {
  display: none;
}

.toggle label {
  position: relative;
  display: flex;
  height: fit-content;
  min-height: 2rem;
  width: 100%;
  align-items: center;
  font-size: 1rem;
  color: #007bff;
  cursor: pointer;
}

.toggle label *:not(.slider) {
  margin-left: 5rem;
  transform: translateY(.2rem);
}

.slider {
  position: absolute;
  display: inline-block;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c0c0c0;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  left: .2rem;
  bottom: .2rem;
  background-color: white;
  transition: .4s;
}

.toggle input:checked+label .slider {
  background-color: #007bff;
}

.toggle input:checked+label .slider::before {
  transform: translateX(2rem);
}

.slider.round {
  border-radius: 999999px;
}

.slider.round::before {
  border-radius: 999999px;
}