.free-badge {
  background-color: #f2f6f8;
  font-size: 11px;
  line-height: 22px;
  color: rgba(24, 32, 55, 0.7);
  display: inline-block;
  padding: 0 5px;
  border-radius: 2px;
}

.product-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  padding: 8px 0;
}

.product-price {
  font-size: 20px;
  font-weight: 700;
}
