.header {
  background-color: white;
  padding: 10px;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.line {
  margin: 0 10px; /* 여기서 좌우 간격 조정 가능 */
}