.box {
    border: 1px solid #ccc;
    flex-direction: column;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    text-align: left;
    display:flex;
   
  }
  