.header {
  display: flex;
  justify-content: space-between;
  /* ... 기타 스타일 */
}

.navigation {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  margin-left: 15px;
  /* margin-right 속성을 추가하여 간격을 설정합니다 */
  margin-right: 300px; /* 원하는 크기로 조정해보세요 */
  /* ... 기타 스타일 */
}
