picture.card {
  width: 200px;
  padding: 0 15px;
}

/* 부모 엘리먼트 */
picture > img {
  /* img태그는 기본적으로 intrinsic 사이즈를 가져옴 
  -> 강제적으로 부모 요소에 맞게끔 변환 */
  width: inherit;
}

img.card {
  width: 100%;
  max-width: 360px;
}
