.skeleton-card {
  box-sizing: border-box;
  width: 200px;
  height: 300px;
  padding: 3px;
  border: 2px solid #eeeeee;
  border-radius: 10px;
}

.skeleton-photo {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 65%;
  margin-bottom: 10px;
  background-color: #eee;
  border-radius: 10px;
}

.skeleton-photo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: linear-gradient(to right, #eee, #ddd, #eee);
  animation: loading 1.5s ease-in-out infinite;
}

.skeleton-h3 {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 17%;
  margin-bottom: 10px;
  background-color: #eee;
}

.skeleton-h3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: linear-gradient(to right, #eee, #ddd, #eee);
  animation: loading 1.5s ease-in-out infinite;
}

.skeleton-p {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 10%;
  background-color: #eee;
}

.skeleton-p::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: linear-gradient(to right, #eee, #ddd, #eee);
  animation: loading 1.5s ease-in-out infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(500%);
  }
}
