* {
    box-sizing: border-box;
}

.carousel-wrapper {
    width: 700px;
    height: 117px;
    overflow: hidden;
}
  
.carousel-wrapper > .carousel {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s;
}

.carousel-wrapper > .carousel > img {
    width: 700px;
    height: 117px;
}