.skeleton-effect {
  height: 100%;
  width: 100%;
}

.skeleton-field-wrapper,
.skeleton-wrapper{
  display: flex;
	grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
}

.skeleton-field-wrapper {
  flex-wrap: wrap;
}

.skeleton-effect {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 80%
  );
  animation: shine 2s infinite;
  background-size: 50px 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.skeleton {
  background: lightgray;
	width: 200px;
  height: 150px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}


@keyframes shine {
  to {
    background-position: 100% 0;
  }
}

.skeleton::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.3),
    hsla(0, 0%, 100%, 0)
  );
  background-repeat: no-repeat;
  background-size: 450px 400px;
  animation: shimmer 1s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: -450px 0;
  }
  100% {
    background-position: 450px 0;
  }
}
