.toggle-track {
    width: 100px;
    height: 50px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
    cursor: pointer;
    margin: 30px;
}

.toggle-ball {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: green;
}

.checked .toggle-ball {
    left: calc(100% - 44px);
    background: red;
}

.toggle-track, .toggle-ball {
    transition: all 0.2s ease-in;
}