.product-card {
  box-sizing: border-box;
  width: 200px;
  height: 300px;
  text-align: left;
}

.product-photo {
  width: 100%;
  box-sizing: border-box;
}

.product-photo > img {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #eeeeee;
  border-radius: 7px;
  margin-bottom: 5px;
}

.product-h3 {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.product-p {
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.3rem;
}
