.card {
  position: relative;
  min-width: 100px;
  width: 15vw;
  height: 20vw;
  border: 1px solid black;
  border-radius: 16px;
  margin: 5vw;
}
.card-wrapper {
  width: fit-content;
  height: fit-content;
}

.card-content {
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  height: 5vw;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}