.toast {
  position: fixed;
  bottom: 30px;
  left: 30px;

  border: 2px solid gainsboro;
  border-radius: 15px;
  padding: 10px;

  color: white;

  transition: all 0.3s ease;
}

.toast-show {
  opacity: 1;
  animation: slideUp 0.3s forwards;
}

.toast-hide {
  opacity: 0;
  animation: slideDown 0.3s forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.toast-btn {
  background-color: #5189f1;
  color: white;
  border-radius: 16px;
  border-color: white;
  border-style: solid;
  padding: 16px 32px;
  margin: 3px;
  font-size: 32px;
}
.toast-btn:hover {
  background-color: #376ccf;
}