.viewport {
  overflow: hidden;
  position: relative;
}

.pics {
  width: 300%;
  display: flex;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
}

.button-pos {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
}

.bt {
  border-radius: 50%;
  opacity: 0.5;
}
