.togglecontainer{
  margin: 30px;
}

.togglecover {
  width: 60px;
  background-color: gray;
  border-radius: 50px;
}

.togglecover.off {
  transition: background-color 0.5s;
  background-color: gray;
}

.togglecover.on {
  transition: background-color 0.5s;
  background-color: purple;
}

.toggle {
    width: 20px;
    height: 27px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s;
    border: 1px solid black;
    border-radius: 50px;
  }
  
  .toggle.on {
    background-color: white;
    color: black;
    transform: translateX(70%);
    border: 2px solid black;
  }
  
  .toggle.off {
    background-color: white;
    color: black;
    transform: translateX(0%);
    border: 1px solid black;
  }
  