.checklist {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.box {
  width: 1rem;
  height: 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-right: 10px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.box:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.box:active {
  cursor: pointer;
  transform: scale(1.05);
}

.checklist .checked::after {
  content: "✔"; /* 체크 표시 아이콘 */
  color: #fff;
  font-size: 0.8rem;
  position: relative;
  top: -4.5px;
  z-index: 999;
}

.checkbox {
  display: none;
}

.checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.checklist span {
  font-size: 1rem;
  color: #333;
}
