.option-column {
    border: 1px solid #e1e1e1;
    padding: 20px;
  }
  
  h3 {
    margin-top: 0;
  }
  
  hr {
    margin: 20px 0;
  }
  
  .total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
  }
  