body {
  margin-top: 100px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  border-radius: 34px;
  background-color: gainsboro;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  transition: 0.3s;
  border-radius: 50%;
  background-color: white;
}

input:checked + .slider {
  background-color: royalblue;
}

input:checked + .slider::before {
  transform: translateX(26px);
}
