.radio-button input {
  display: none;
}

.radio-button label {
  display: inline-block;
  padding: 1rem 0.5rem;
  transition: all 0.2s;
  background-color: white;
}

.radio-button:first-child label {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.radio-button:last-child label {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.radio-button input:checked+label {
  background-color: #0038FF;
  color: white;
}

.radio-button input:focus+label {
  outline: none;
  box-shadow: 0 0 0 3px #007bffaa;
}