.toggle-btn {
    background: yellow;
    width: 70px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
  }
  
  .toggle {
    background: black;
    color: white;
    width: 40px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    position: absolute;
    left: 0;
    transition: left 0.5s;
    font-size: large;
  }
  
  .toggle.off {
    left: 30px;
  }
  