.breadcrumbs {
  /* Center aligned */
  margin: 0 auto;
  position: relative;
  padding: 0 16px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.separator {
  margin: 0 5px;
  color: #999;
}

.breadcrumbs span {
  position: relative;
  cursor: pointer;
}

.breadcrumbs span:hover {
  text-decoration: underline;
  color: #999;
  font-weight: bold;
}
