.carousel_container {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: black;
    overflow: hidden;
}

.carousel_item_container {
    position: relative;
    display: flex;
    height: 100%;
    transition: 0.5s ease-out;
}
.carousel_item {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5A96E3;
    flex-shrink: 0;
}

.carousel_item > img {
    position: absolute;
    display: block;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
}

.carousel_btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.5);
    border: none;
    z-index: 1;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translate(-50%, -50%);
}
.carousel_btn:hover {
    background-color: rgb(255, 255, 255, 0.7);
}
.carousel_btn.prev {
    left: 10%;
    background-image: url(/public/icons/carousel/prev_icon.png);
}
.carousel_btn.next {
    right: 10%;
    background-image: url(/public/icons/carousel/next_icon.png);
}

.carousel_nav {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 10px;
}

.carousel_nav_btn {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px;
}
.carousel_nav_btn.active {
    background-color: rgba(255, 255, 255, 1);;
}