.product-detail-innerwrap {
  width: 1200px;
  display: flex;
  margin: 30px 0;
}

.product-info-column {
  width: 800px;
  padding: 30px 30px 0 0;
  display: flex;
  justify-content: space-between;
}

.option-column {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
}
