.product-detail-innerwrap {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.product-info-column {
  width: 700px;
  padding: 50px;
}

.option-column {
  width: 400px;
  padding: 50px;
  border: 1px solid #ccc;
}
