.image-skeleton {
    background-color: gray;
    width: 300px;
    height: 300px;
  }
  
  .product-name-skeleton {
    margin-top: 3px;
    background-color: gray;
    width: 200px;
    height: 1em;
  }
  
  .product-price-skeleton {
    margin-top: 3px;
    background-color: gray;
    width: 100px;
    height: 1em;
  }