.toggle-group {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-wrapper {
  position: relative; 
  margin-bottom: 20px;
}

.tg-image {
  position: absolute; 
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.tg-image.hide {
  opacity: 0;
}

.toggle-btn {
  margin: 100px;
}
