.breadcrumb {
  position: relative;
  left: 30px;
  top: 15px;
  font-size: large;
  font-style: oblique;
}
.breadcrumb-link {
  color: black;
  text-decoration: none;
  outline: none;
}
.breadcrumb-link:hover {
  color: darkslateblue;
  text-decoration: none;
  outline: none;
}