.container.register{
    width: 500px;
    height: 600px;
    margin: 80px auto;
}

.title.register{
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

.box.register{
    display: flex;
    justify-content: center;
}

label{
    display: block;
    margin-top: 5px;
}

label>input{
    width: 500px;
    height: 30px;
}

.registerErr{
    color: red;
    margin-bottom: 5px;
}

.button.register{
    margin-top: 30px;
    width: 500px;
    height: 30px;
}