.toast-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
#toastTxt {
  border-bottom: 1px solid gray;
  font-size: 0.85rem;
  padding: 10px;
  margin: 0;
  flex-grow: 1.7;
}
#toastBtn {
  text-align: center;
  margin: 0;
  padding: 10px;
}
