.toast {
  position: absolute;
  display: flex;
  padding: 0 3px;
  overflow: auto;
  align-items: center;
  max-width: 350px;
  min-width: 160px;
  width: fit-content;
  height: 30px;
  background-color: beige;
}
.toast.top-left {
  top: 3px;
  left: 3px;
}
.toast.top-right {
  top: 3px;
  right: 3px;
}
.toast.top-center {
  margin: auto;
  top: 3px;
  left: 0;
  right: 0;
}
.toast.bottom-left {
  bottom: 3px;
  left: 3px;
}
.toast.bottom-right {
  bottom: 3px;
  right: 3px;
}
.toast.bottom-center {
  margin: auto;
  bottom: 3px;
  left: 0;
  right: 0;
}
