@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, HelveticaNeue, Helvetica, Roboto,
    Apple SD Gothic Neo, \b9d1\c740\ace0\b515, Malgun Gothic, sans-serif,
    ArialUnicodeMs;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Sweetalert custom */
.swal2-popup.swal2-toast.swal2-show {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

body.swal2-toast-shown .swal2-container {
  width: 480px !important;
}

div:where(.swal2-container) .swal2-html-container {
  font-size: 1rem !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  font-size: 1rem !important;
  height: 2rem;
  padding: 0 1rem;
  background-color: #007aff !important;
}

.slick-slider .slick-arrow:before {
  font-size: 2rem;
  color: white;
}

.slick-slider .slick-dots button:before {
  font-size: 0.5rem;
}

.slick-slider .slick-dots {
  bottom: 1rem;
}

.slick-prev,
.slick-next {
  z-index: 1;
  opacity: 0.5;
}

.slick-prev {
  left: 1rem !important;
}

.slick-next {
  right: 1.5rem !important;
}
