/* .breadcrumb {
    background-color: #f5f5f5;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: inline;
  }
  
  li:not(:last-child):after {
    content: '/';
    margin: 0 5px;
    color: #888;
  }
   */
.breadcrumb span::before {
  content: '>';
  margin: 0 10px 0 10px;
}

.breadcrumb a {
  text-decoration: none;
  color: rgb(60, 60, 250);
}
