.toggle-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-label input {
 opacity: 0;
 width: 0;
 height: 0; 
}

.custom-toggle {
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ccc;
  border-radius: 34px;
}

.custom-toggle::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.3s;
  border-radius: 34px;
}

input:checked + .custom-toggle {
  background-color: #2196f3;
}

input:checked + .custom-toggle::before {
  transform: translateX(26px);

}