.checkbox-input {
    appearance: none;
    width: 1.25em;
    height: 1.25em;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.25em;
    border-color: white;
    /* display:relative; */
}
.checkbox-input::before {
    content:"L";
    display: absolute;
    display:inline-block;
    transform: rotateY(180deg) rotate(-45deg);
    font-weight: 800;
    visibility: hidden;
}
.checkbox-input:checked::before {
    visibility: visible;
    /* background-image: url("../assets/icons/checkmark.png");
    background-size: contain; */
}
.checkbox-input:hover {
    background-color: #A1C2F1;
    transition: 0.2s;
}
.checkbox-label {
    margin: 0 20px;
    opacity: 0.5;
    color: black;
    font-size: 0.9em;
}