.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    min-width : 300px;
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #c8c8c8;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbarMenu {
    color: black;
    margin-right: 50px;
    font-size: 20px;
    text-decoration: none;
}

.navbarMenu.logo {
    position: absolute;
    left: 50px;
}

.divider {
    border: 1px solid grey;
    width: 0.1px;
    height: 40px;
    margin-right: 50px;
}

@media screen and (max-width: 600px) { 
    .cart {
        display : none;
    }
}

@media screen and (max-width: 450px) { 
    .login, .register, .divider {
        display : none;
    }
}