.input-group-label {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.label {
    font-family: 'PT Mono', monospace;
    font-size: 16px;
    color: #000;
}

.error-msg {
    font-family: 'PT Mono', monospace;
    font-size: 14px;
    color: #ff0000;
}