.loader {
    /* display: inline-block; */
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    vertical-align: top;
}


/* Set the color of the icon */
svg path,
svg rect {
    fill: #ffbf00;
}