.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbarMenu {
    color: black;
    margin-right: 50px;
    font-size: 20px;
    text-decoration: none;
}