.option-column {
  margin: 1.5rem;
}

.option-container {
  display: flex;
  flex-direction: column;
  border: solid #d6d3d1;
  border-width: 1.5px;
  margin-bottom: 1rem;
}

.selected-option {
  background-color: #f5f5f4;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: medium;
  border-radius: 3px;
}

.border {
  display: block;
}

.button-group {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
}
