.product-information-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-right: 1.5px solid rgb(220, 220, 220);
}

@media screen and (max-width: 768px) {
  .product-information-column {
    grid-template-columns: 1fr;
  }
}
