.toast-button {
  border: none;
  border-radius: 1.5rem;
  background-color: white;
  overflow: hidden;
}

.toast-div {
  position: fixed;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
  width: 40rem;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #303030;
}

.toast-span {
  color: #ffffff;
}

.toast-a {
  color: #ffe342;
  text-decoration: none;
}
