.radioLabel {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.radioButton {
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid #888888;
  border-radius: 9999px;
  margin: 2px 4px;
}

.radioButton:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Ccircle cx='50' cy='50' r='25' fill='white' /%3E%3C/svg%3E ");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3f6cff;
}