.product_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 1rem 0;
  width: 100%;
  max-width: inherit;
}

@media screen and (max-width: 768px) {
  .product_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}