.container {
  width: 100%;
  max-width: 1200px;
  /* margin: 80px auto; 
  padding: 15px; */
}


@media screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  } 
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .container {
    width: 1140px;
  } 
}