.main-product-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1380px;
}

@media (max-width: 1380px) {
  .main-product-template {
    width: 100%;
  }
}
