body {
    display: flex;
    justify-content: center;
}

.carouselUl li {
    position: relative;
    padding: 4rem 10rem;
    background-color: rgb(166, 255, 255);
    margin: 0;


}



.carouselUl {
    display: flex;
    overflow: hidden;
    width: 20rem;
    margin-bottom: 2rem;
}

.carouselDiv button {
    margin: 1rem;
}

.carouselSlide.active {
    transform: translateX(-20rem);
    transition: all 0.2s ease-out;

}