.header {
  height: 80px;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-innerwrap {
  position: absolute;
  width: 1280px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-imglogo {
  width: 130px;
  height: 40px;
}

.header-menu {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-menu .menu-util {
  padding: 12px;
}

.menu-util .link-util img {
  width: 35px;
  height: 35px;
  background-color: #fff;
}

.header-menu-line {
  height: 40px;
}

.header-menu .menu-account a {
  font-size: 40;
}
