.CarouselContainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.Carousel .carousel-item .CarouselImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.Carousel .carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 300px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 10px;
}

.Carousel .carousel-caption {
  display: none;
}
