.RadioButtons {
  display: flex;
  flex-direction: column;
}

.RadioButtons label {
  margin-bottom: 10px;
}

.RadioButtons input[type='radio'] {
  margin-right: 5px;
}

.RadioButtonsContainer {
  display: flex;
  flex-direction: column;
}

.RadioButtonsContainer .RadioButton {
  margin-bottom: 10px; 
}
