.product-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 345px;
  grid-gap: 2rem;
  margin: 0 2rem;
  padding: 1rem;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
