div.radiolist {
    position: relative;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    border: 1px solid rgba(146, 146, 146, 0.733);
}

div.radiolist > label {
    padding: 3px 0;
    padding: 0.3rem 0.5rem;
}
