.toast-info {
  --toast-color: #5495F7;
}

.toast-success {
  --toast-color: #00BB82;
}

.toast-error {
  --toast-color: #F03D3E;
}

.toast-warning {
  --toast-color: #FFA500;
}

.toast {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: fixed;
  right: 1rem;
  top: 1rem;
  padding: 1.5rem 5.5rem;
  width: 40rem;
  box-sizing: border-box;
  z-index: 9999;
  border-radius: 0.4rem;
  background-color: white;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  animation: slideIn 0.3s ease-in-out;
}

.toast>img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  position: absolute;
  left: 2.5rem;
}

.toast button {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

.toast button img {
  width: .8rem;
  height: .8rem;
}

.toast::before {
  content: '';
  position: absolute;
  top: 10%;
  left: 1rem;
  width: 0.4rem;
  height: 80%;
  border-radius: 99999px;
  background-color: var(--toast-color);
}

.toast .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
  width: 30rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.toast .message {
  font-size: 1rem;
  color: #A5A5A5;
  width: 30rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.toast .toast-icon {
  margin-right: 0.5rem;
}

.toast .toast-message {
  font-size: 1.2rem;
}

.toast .toast-close {
  margin-left: 0.5rem;
  cursor: pointer;
}

.toast.closed {
  animation: slideOut 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(110%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0), translateY(var(--toastY));
  }

  to {
    transform: translateX(110%, translateY(var(--toastY)));
  }
}