body {
    background: #fcfcfc;
}

.option-column {
    width: 100%;
    height: 600vh;
}

.option-column h3 {
    padding-left: 30px;
}

.option-column .dropdown-btn {
    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 8px 6px rgba(0,0,0,0.06);
    padding-left: 30px;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.option-column .dropdown-item .option-list .option {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.option-column .dropdown-item .option-list .option .price {
    font-weight: bold;
    font-size: 17px;
}

.option-column .dropdown-item .option-list .option:hover {
    background: #f4f4f4;
}

.option-column .total-price {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 10px;
}

.button-cart {
    background-color: black;
    
    /* padding: 10px 20px; */
    /* border: none; */
    /* border-radius: 4px; */
    cursor: pointer;
}

.button-group {

    display: flex;
    align-items: center;
    gap: 20px;
}

.buy-now {
    background-color: orange;
    width: 400px;
    border: 1px solid red;
}

.selected-option-list {

    list-style-type: none;
}