.carousel {
  position: relative;
  overflow: hidden;
}
.carousel-container {
  display: flex;
  height: 300px;
  width: 100vw;
  transition: transform 0.5s;
}
.carousel-container img {
  width: 100%;
}
.carousel-context {
  top: 120px;
  display: flex;
  z-index: 1;
  position: absolute;
  width: 100%;
}
.carousel button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 25px;
  opacity: 0.5;
}
.carousel-text {
  position: absolute;
  height: ;
  left: 200px;
}
#left-btn {
  position: absolute;
  left: 20px;
  cursor: pointer;
}
#right-btn {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
#title,
#context {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}
#context {
  color: white;
  font-size: 1.5rem;
}
