.check-button {
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  margin-right: 10px;
}
.check-label {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
#allcheck {
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
