body {
    margin: 0;
    position: relative;
    background-color: #F9F9F9;

}

li {
    list-style: none;
}

.bread {
    margin-top: 5rem;
}

.ulTag li {
    margin: 1rem;
}

.ulTag li:not(:first-child) {
    background-color: rgb(205, 231, 134);
    width: 15rem;
    margin: 0 auto;
    padding: 1rem;
    text-decoration: underline;
}

.ulTag li:first-child {
    background-color: rgb(230, 230, 230);
    width: 15rem;
    margin: 0 auto;
    padding: 1rem;
}