.Button {
    margin-top: 1rem;
    width: 6rem;
    height: 2rem;
    background-color: rgb(255, 131, 69);
    border-radius: 1rem;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.toast {
    width: 11rem;
    background-color: rgb(255, 0, 0);
    height: 3rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 2rem;
    position: absolute;
    top: 0rem;
    left: 0;

}

.h2 {
    margin-top: 2rem;
}