.toggleContainer {
    width: 10rem;
    height: 5rem;
    border-radius: 10rem;
    background-color: rgb(233, 233, 234);

}

.circle {
    position: relative;
    bottom: 4.5rem;
    left: 0.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgb(220, 128, 202);
    transition: 0.5s
}

.toggleChecked {
    background-color: rgb(223, 92, 212);
}

.circleChecked {
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 5.3rem;
}