.cart_item {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 16px;
    border: 1px solid #dee0e6;
}
.product_name {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    word-break: break-all;
}