/* sub menu 요소들 */
header .sub-menu {
  position: absolute;
  top: 10px;
  left: 0;
  display: flex;
}

header .sub-menu ul.menu {
  display: flex;
}
header .sub-menu ul.menu li {
  position: relative;
}

header .sub-menu ul.menu li:first-child:before {
  display: none;
}

header .sub-menu ul.menu li a {
  font-size: 15px;
  font-weight: bold;
  padding: 11px 16px;
  display: block;
  color: #656565;
  position: relative;
}

header .sub-menu ul.menu li a:hover {
  color: #000;
}
.menu li a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 68px;
  left: 0;
}

header .cart::before {
  content: "";
  width: 1px;
  height: 20px;
  background-color: #c6c6c7;
  position: absolute;
  left: 40px;
  top: 20%;
}
