/* notice */
.notice {
  position: relative;
  width: 100%;
}

.notice .notice-line {
  position: relative;
  width: 50%;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  margin: 0;
}

.notice .notice-line .inner {
  position: absolute;
  top: 0;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 0 0 4rem;
}

.notice .notice-line h2 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding-right: 4rem;
}

.notice .notice-line .swiper {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding-right: 4rem;
}

.today::after {
  position: absolute;
  content: "";
  display: block;
  width: 6%;
  height: 2px;
  background-color: #fff13f;
  position: absolute;
  left: 10;
  z-index: 20px;
}
