.product-grid {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 40px;
  justify-items: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.card {
  display: inline-block;
  max-width: 284px; /* Set a maximum width for the cards */
  /* padding: 0 20px 50px 0; */
  height: 100%;
  vertical-align: top;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative; /* Add position relative */
}

.photo {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  /* transform-origin: center center;
  transition: transform 0.3s ease; */
}

/* .photo:hover {
  transform: scale(1.1);
} */

.product-name {
  position: relative;
  left: 0;
  right: 0;
  font-size: medium;
}

.product-price {
}

img {
  display: block;
}
