.product_name {
    display: block;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -.02em;
    word-break: break-all;
}
.price {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    font-family: HelveticaNeue,AppleSDGothicNeo-Regular,tahoma,Malgun Gothic,\b9d1\c740 \ace0\b515,dotum,\b3cb\c6c0,sans-serif;
}
.em_talkspecial {
    font-style: normal;
    font-weight: 700;
    color:#085EFD;
}