#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Breadcrumbs{
  position : absolute;
  top : 50px;
  left : 50px;

}

.Carousels{
  position : absolute;

  display : flex;
  top : 130px;
  left :100px;
  flex-direction: column;
  justify-content: center;
  align-items : center;
}

.products{
  position : absolute;
  top : 110px;
  left : 500px;
}

.option{
  position : relative;
  right : 80px;
}

.accessory{
  position : relative;
  left : 200px;
  bottom : 50px;
}


.Radio{
  position : absolute;
  top : 250px;
  left : 500px;
}

.Checklist{
  position : absolute;
  top : 250px;
  left : 770px;
}

.Toast{
  position : absolute;
  top : 170px;
  left : 250px;
}

.toggle{
  position : absolute;
  top : 130px;
  left : 750px;
}