.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    min-width: 1000px;
    height: 600px;
    margin: 0 auto;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button.left {
    left: 20px;
}

.carousel-button.right {
    right: 20px;
}

.carousel-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-image {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-image.active {
    display: block;
}
