.toggle-button {
    display: inline-block;
    width: 60px;
    height: 34px;
    border-radius: 17px;
    position: relative;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.toggle-button.on {
    background-color: green;
}

.toggle-button.off {
    background-color: #DDD;
}

.toggle-circle {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: left 0.3s ease;
}

.emoji {
    margin-right: 20px;
    font-size: 24px;
}

.toggle-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
