.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toggleContainer {
  width: 50px;
  height: 25px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;  
  border-color: #be70f2;
  cursor: pointer;
}

.toggleContainer .toggleButton {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #be70f2;
}

#toggle:checked ~ .toggleContainer {
  background: #cc8ff4;
}

#toggle:checked ~ .toggleContainer .toggleButton {
  left: calc(100% - 22px);
  background: #fff;
}

.toggleButton, .toggleContainer {
  transition: all 0.3s ease-in;
}

#list {
  list-style-type: none;
  display: flex;
  background-color: rgb(228, 211, 255);
}

#list li+li::before {
  padding: 8px;
  color: rgb(77, 17, 155);
  content: ">";
}

.breadBtn button+button {
  margin-left: 4px;
}

.toasty {
  height: 40px;
  width: 200px;
  background-color: rgb(228, 211, 255);
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  display: flex;
  bottom: 20px;
  left: 20px;
  margin-top: 10px;
}

.carousel-container {
  height: 300px;
  width: 500px;
  overflow: hidden;
}

.carousel-container .each {
  height: 300px;
  width: 500px;
  display: flex;

}
