.App {
    margin: 20px;
}


.breadcrumb li + li:before {
    content: ">";
    margin-right: 10px;
}

.breadcrumb li {
    display: inline;
    font-size: 18px;
    list-style-type: none;
    padding: 0 5px;


}

hr {
    margin-top: 32px;
}

가button.submit-btn {
    padding: 12px;
    background-color: #393646;
    color: white;
    border: none;
    border-radius: 4px;
}

button {
    background-color: white;
    border: none;
}


@keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

