/* GNB.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #f3f3f3;
  border-bottom: 2px solid #f3f3f3;
}

.left-content {
  display: flex;
  align-items: center;
}

.right-content {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation > * {
  margin-right: 10px;
}
