.skeleton-grid {
  display: grid;
  width: 70%;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: auto;
  max-width: inherit;
}

@media screen and (max-width: 768px) {
  .skeleton-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
