.Toggle {
    position: relative;
    margin-top: 8rem;
    cursor: pointer;
}

.toggle-container {
    width: 50px;
    height: 24px;
    border-radius: 30px;
    background-color: rgb(233, 233, 234);
    position: relative;
}

.toggle-container.toggle-checked {
    background-color: rgb(0, 200, 102);
    transition: 0.5s;
}

.toggle-circle {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgb(255, 254, 255);
    transition: 0.5s;
}

.toggle-circle.toggle-checked {
    left: 27px;
    transition: 0.5s;
}
