.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 1em;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}

/*
    Set the color of the icon
  */
svg path,
svg rect {
  fill: #fee500;
}
