.product-grid {
  display: grid;
  /* grid-template-column 공부하기 */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 1rem 0;
  width: 100%;
  max-width: inherit;
}

/* 화면 사이즈가 가로 0px ~ 768px일 때 적용되는 코드 */
@media screen and (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}