.App {
  text-align: center;
  --kakao-yellow: #fee500;
  --kakao-dark-gray: #444;
  --kakao-black: #111;
  font-family: "Noto Sans KR", sans-serif;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}


.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.radio-button-container {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.radio-button-label {
  background-color: var(--kakao-yellow);
  padding: 10px 14px 10px 10px;
}

.toggle-button {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  background-color: var(--kakao-dark-gray);
  color: #fff;
  border: 2px solid var(--kakao-dark-gray);
  cursor: pointer;
}

.toggle-button.active {
  background-color: var(--kakao-yellow);
  color: var(--kakao-dark-gray);
  border: 2px solid var(--kakao-dark-gray);
}


.accordion-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accordion {
  width: 100%;
  border: 1px solid var(--kakao-dark-gray);
  display: flex;
  flex-direction: column;
}

.accordion-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  background: none;
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.accordion-header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1em 0;
  background-color: var(--kakao-dark-gray);
  color: #fff;
  cursor: pointer;
}

.accordion-body {
  overflow: auto;
  padding: 10px;
  background-color: #444;
  color: #fff;
  height: 100px;
  border-top: 1px solid var(--kakao-dark-gray);
  transition:
    height 0.2s ease-in-out,
    padding 0.2s ease-in-out;
}

.accordion-body-folded {
  height: 0;
  padding: 0;
  overflow: hidden;
  transition:
    height 0.2s ease-in-out,
    padding 0.2s ease-in-out;
}

li {
  list-style-type: none;
}

.check-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.check-list-container ul {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.check-list-item {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  background-color: var(--kakao-yellow);
  user-select: none;
  padding: 0.4em;
}

input.check-box {
  width: 1.2em;
  height: 1.2em;
}

input.check-box:checked {
}

.breadcrumb {
  padding: 0.4em 0;
  top: 0;
  bottom: 0;
  font-size: 1.4em;
  background-color: var(--kakao-dark-gray);
  color: #fff;
  width: 100%;
  border: 1px solid var(--kakao-dark-gray);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.breadcrumb a {
  color: var(--kakao-yellow);
  text-decoration-line: underline;
}

.breadcrumb a:hover {
  color: var(--kakao-yellow);
  text-decoration-line: none;
}
