@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: HelveticaNeue, AppleSDGothicNeo-Regular, tahoma, Malgun Gothic,
    \b9d1\c740\ace0\b515, dotum, \b3cb\c6c0, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
