.App {
  overflow: scroll !important;
  position: relative;
}

button {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

/* ToggleBtn */
.ToggleBtn {
  width: 80px;
  height: 40px;
  background-color: red;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ToggleBtn--on {
  background-color: rgb(23, 166, 23);
}

.ToggleBtn__inner {
  width: 50%;
  height: 100%;
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}

.ToggleBtn--on .ToggleBtn__inner {
  transform: translateX(100%);
}

.ToggleBtn__handle {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}

.ToggleBtn--on .ToggleBtn__handle {
  transform: translate(-50%, -50%) translateX(100%);
}

.Toggle span {
  display: block;
  margin-top: 10px;
}

/* RadioBtn */
.radio {
  margin: 0px 10px;
  font-size: 18px;
}

.radio span {
  margin-right: 10px;
  font-size: 18px;
}
.radio [type="radio"] {
  appearance: none;
  margin: 0px;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  border-radius: 250px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.radio [type="radio"]:checked {
  box-sizing: border-box;
  /* border: 5px solid darkgray; */
  background-color: rgba(197, 183, 201, 0.887);
}
.radio [type="radio"]:hover {
  background-color: #dcdcdc;
  box-shadow: 0px 15px 20px rgba(174, 170, 169, 0.73);
}

.pickHeart {
  padding: 10px;
}

/* Carousel */
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 305px;
  height: 200px;
  position: relative;
}

.frame {
  border: 1px solid #dcdcdc;
  width: 300px;
  height: 150px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  box-sizing: border-box;
  border: 4px solid #fff;
  width: 300px;
  height: 150px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 300px;
  top: 25%;
}

.button {
  background-color: rgba(200, 200, 200, 0.5);
  width: 20px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
  user-select: none;
  cursor: pointer;
}

.button-2-container {
  display: flex;
  justify-content: center;
}

.button-2 {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #e0e0e0;
  margin: 6px;
  cursor: pointer;
}

.active {
  background: #999;
}

/* CheckList */
.CheckList {
  margin-top: 15px;
  width: 250px;
  height: 300px;
  padding: 5px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.CheckList h3 {
  margin-left: 15px;
}

.CheckList ul {
  padding: 15px;
  position: relative;
}

.CheckList li {
  list-style: none;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 6px;
  padding: 12px;
  border-radius: 6px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

.newItem input {
  padding: 8px;
  margin: 0 0 5px 15px;
  width: 200px;
}

.CheckList li.noItems {
  opacity: 0.5;
}

.delete {
  border: none;
  cursor: pointer;
}

.CheckList ul li.checked {
  text-decoration: line-through;
  color: #ccc;
}

/* Toast */
.Toast button {
  padding: 10px;
  background-color: rgba(172, 67, 201, 0.898);
  color: #fff;
  border-radius: 6px;
  border: 1px solid purple;
  cursor: pointer;
}

.ToastMessage {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  margin-top: 10px;
  padding: 5px 5px 5px 10px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.ToastMessage p {
  font-weight: bold;
}

/* Breadcrumb */

.BreadcrumbBtn {
  width: 500px;
  height: 40px;
  display: flex;
}

.BreadcrumbBtn button {
  width: 500px;
  border: none;
  background-color: rgb(22, 210, 22);
  color: #fff;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.Breadcrumb ul {
  display: flex;
  list-style: none;
}

.crumb li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.crumb span {
  color: rgba(18, 189, 18, 0.699);
}

/* 카카오 쇼핑 클론 */
.homepage {
  margin-top: 75px;
}

.product-detail-page {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartpage {
  margin-top: 75px;
}

.orderpage {
  margin-top: 75px;
}

.orderCompletepage {
  margin-top: 75px;
}
