* {
  box-sizing: border-box;
}

picture > img {
  width: inherit;
}

body {
  font-family: HelveticaNeue, AppleSDGothicNeo-Regular, tahoma, Malgun Gothic,
    \b9d1\c740\ace0\b515, dotum, \b3cb\c6c0, sans-serif;
}
