.warp{
    width: 585px;
    display: flex;
    position: relative;
}

.warp_ui{
    width: 400px; 
    overflow: hidden;
}
.local{
    width: 400px;
    height: 300px;
    text-align: center;
    position: relative;
    list-style: none;
}

.Circle,.warp{
    display: flex;
    position: absolute;
    left: 32%;
    bottom: -15px;
}

.Circle{
    width: 15px;
    height: 15px;
    border-radius: 20px;
    border: 1px black solid;
    margin: 5px;
}