@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@layer components {
  .btn-primary {
    @apply bg-yellow-400 text-white font-semibold rounded-lg shadow-md hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:ring-opacity-75;
  }
  .btn-order{
    @apply bg-yellow-300 text-black rounded-sm shadow-sm hover:bg-yellow-400 ;
  }
  .btn-counter{
    @apply  border text-2xl bg-gray-300/50 rounded-sm hover:bg-gray-300
  }
  .title{
    @apply mb-10 text-center text-2xl font-bold leading-9 tracking-tight text-black
  }
}