@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Nanum+Gothic&display=swap&family=Gasoek+One&display=swap');

@layer base {
  html {
    font-family: 'Nanum Gothic', system-ui, sans-serif;
  }
}
