.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .carousel-image {
    max-width: 100%;
    max-height: 300px;
  }