/* 깔끔한 외관을 제공하기 위해 테두리, 여백 및 패딩 제거 */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

/* 글꼴 두께를 굵게 설정하고 하단 여백을 추가하여 강조 */
  legend {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
/* 상단 여백을 추가하여 범례와 확인란 목록 사이에 약간의 간격 생성 */
  p {
    margin-top: 10px;
  }
  
/* 오른쪽 여백을 추가하여 확인란 사이에 간격 생성 */
  input[type="checkbox"] {
    margin-right: 5px;
  }