picture.card {
  width: 200px;
}

picture.product-detail {
  width: 300px;
}
/* 부모 엘리먼트 */
picture > img {
  width: inherit;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

img.card {
  width: 100%;
  max-width: 360px;
}
