/* toggle.css */

.button {
  position: relative; /* 추가 */
  width: 130px;
  height: 50px;
  border-radius: 50px;
  margin-left: 10px;
  background-color: white;
  display: flex; /* 추가: 내부 요소를 가로 정렬하기 위해 */
  align-items: center; /* 추가: 내부 요소를 세로 중앙 정렬하기 위해 */
  justify-content: center; /* 추가: 내부 요소를 가로 중앙 정렬하기 위해 */
}


/* .button 내부에 동그라미를 생성합니다. */
.on::before {
  content: "";
  position: absolute;
  width: 40px; /* 동그라미의 지름 설정 */
  height: 40px; /* 동그라미의 지름 설정 */
  border-radius: 50%;
  background-color: rgb(22, 185, 49); /* 동그라미의 배경색을 버튼과 동일하게 설정합니다. */
  transform: translateX(-40px); /* 동그라미를 왼쪽으로 10px 이동하여 버튼 내부에 위치시킵니다. */
  transition: transform 0.5s;
}


.off::before{ 
content: "";
position: absolute;
width: 40px; /* 동그라미의 지름 설정 */
height: 40px; /* 동그라미의 지름 설정 */
border-radius: 50%;
background-color: rgb(228, 14, 14); /* 동그라미의 배경색을 버튼과 동일하게 설정합니다. */
transform: translateX(40px); /* 동그라미를 왼쪽으로 10px 이동하여 버튼 내부에 위치시킵니다. */
transition: transform 0.5s;
}