/* .carousel {
  display: flex;
  align-items: center;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
} */
